* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 720px;
  margin: auto;
  background: #000;
}

img,
video {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.slick_01 {
  width: 100%;
  top: 61%;
}

/* 圖片左右顯示 */
.slick_01 .slick-list {
  padding: 0 30px;
}

/* 輪播 button */
.slick_01 .slick-prev {
  left: 0;
  z-index: 999;
}

.slick_01 .slick-next {
  right: 10%
}

.slick_01 .slick-prev:before,
.slick_01 .slick-next:before {
  color: transparent;
  opacity: 1;
  font-size: 60px;
}

.slick_01 .slick-prev:before {
  background: url('../images/824_LP05_01_btn.png')no-repeat center/contain;
}

.slick_01 .slick-next:before {
  background: url('../images/824_LP05_01_btn2.png')no-repeat center/contain;
}

/* 輪播 list-dot */
.slick_01 .slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 30px;
}

.slick_01 .slick-dots li.slick-active button:before {
  color: red;
  opacity: 1;
}

@media (min-width: 576px) {
  .slick_01 .slick-list {
    padding: 0 50px;
  }

  .slick_01 .slick-prev:before,
  .slick_01 .slick-next:before {
    font-size: 100px;
  }

  .slick_01 .slick-next {
    right: 11%
  }
}